@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

/* font-family: "Roboto", sans-serif;
font-family: "Poppins", sans-serif; */

* {
  margin: auto;
  padding: auto;
}

html {
  scroll-behavior: smooth;
}

#bootstrap-overrides {
  width: 100%;
  margin: auto;
  color: white;
  background-color: rgb(0, 0, 0);
  font-family: "Poppins", sans-serif !important;
  overflow-x: hidden;
}

#bootstrap-overrides span i{
  /* text-decoration: underline; */
  color: white !important;
}

/* -------------------- Navigation Bar -------------------------- */

#bootstrap-overrides .navbar {
  width: 100%;
  overflow: auto;
  padding: 10px 5px;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  background-color: rgb(0, 0, 0);

  border-bottom: 1px solid rgba(41, 39, 39, 0.788);
  
}

.navbar-nav {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: flex-start;
}

.batting-table {
    border-collapse: collapse;
    width: 70%;
  }
#bootstrap-overrides .navbar a {
  float: left;
  padding: 5px 15px;
  text-decoration: none;
  color: rgb(255, 255, 255);
}

#bootstrap-overrides .navbar-nav li a:hover {
  color: orange !important;
  text-decoration: overline;
}

/* --------------------------Profile---------------------------------- */

#bootstrap-overrides .container {
  width: 90%;
  margin: 50px auto;
  /* line-height: 25px; */
}

#bootstrap-overrides .container1 {
  margin-top: -10px;
}


#bootstrap-overrides h1 {
  text-align: center;
  padding: 25px;
}

#quotes {
  color: orange;
  text-align: center;
  margin-bottom: 100px;
  margin-top: 20px;
}

#bootstrap-overrides h3 {
  color: orange;
}

#bootstrap-overrides hr {
  width: 90%;
  margin: auto;
}

#bootstrap-overrides img {
  display: block;
  width: 60%;
  margin-bottom: 30px;
  border-radius: 30px;
  outline: 2px solid orange;
}

@media (max-width:900px) {
  #bootstrap-overrides img {
    display: block;
    width: 250px;
    margin-bottom: 30px;
    border-radius: 30px;
    outline: 2px solid orange;
  }
}

#bootstrap-overrides #profilepic {
  width: 250px;
  border-radius: 30px;
  -webkit-box-shadow: 0px 0px 65px -7px rgba(255,165,0,1);
-moz-box-shadow: 0px 0px 65px -7px rgba(255,165,0,1);
box-shadow: 0px 0px 65px -7px rgba(255,165,0,1);
 
}


.testimonial-text {
  font-size: 2rem;
  margin-left: 120px;
  margin-right: 120px;

}

@media (max-width:700px) {
  .carousel-inner {
    padding-bottom: 1%;

  }

  .testimonial-text {
    font-size: 1rem;
    margin-left: 50px;
    margin-right: 50px;
  }

  .carousel-item em {
    font-size: .5rem;
  }

  .testimonial-image {
    width: 20%;
    border-radius: 100%;
    margin: 5px;
  }

  .press-logo {
    width: 20%;
    margin: 10px 10px 40px;
  }

}

#bootstrap-overrides .infobox {
  background-color: rgba(128, 128, 128, 0.137);
  border-radius: 20px;
  padding: 50px;
}


#gallery img {
  width: 350px;
  height: 250px;
  /* display: flex;
  flex-direction: row; */
  margin: 20px;
  outline: 2px solid orange;
}

@media (max-width:1000px) {
  #gallery img {
    width: 250px;
    height: 200px;
    border-radius: 5%;
    margin-bottom: 4%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    outline: 2px solid orange;
  }
}

#bootstrap-overrides .gapfiller {
  width: 80%;
  height: 40px;
}

#image1 #image2 {
  width: 100px;
}

/* Footer */

#footer {
  color: rgb(124, 124, 124);
  padding: 7% 15%;
}

#footer a {
  color: rgb(124, 124, 124);
  padding: 5px;
  margin-bottom: 10px;
}

#footer p {
  margin-top: 10px;
}

@media (max-width: 1000px) {
  #footer p {
    margin-top: 10px;
    font-size: smaller;
  }
}

.career-table {
    border-collapse: collapse;
    width: 70%;
  }
  
  th, td {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 5px;
  }
  
  tr {
    margin-bottom: 10px; /* Add margin between rows */
  }
  